{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Takshak - Coupon</title>


	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>

	<style type="text/css">
	.container {
	  max-width: 960px;
	}

	.border-top { border-top: 1px solid #e5e5e5; }
	.border-bottom { border-bottom: 1px solid #e5e5e5; }
	.border-top-gray { border-top-color: #adb5bd; }

	.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

	.lh-condensed { line-height: 1.25; }
	</style>

  </head>

  <body class="bg-light">

  	<nav class="navbar navbar-light bg-light">
  	<span class="navbar-brand mb-0 h1">Welcome {{ user.username }}</span>
  	
    <a class="btn btn-danger my-2 my-sm-0" href="{% url 'logout' %}">Logout</a>

	</nav>

    <div class="container">
      <div class="py-5 text-center">
      <img class="mb-4" src="{% static 'images/logo.png' %}" alt="" style="width:100px; height: auto;">
        <h2>Generate Coupon</h2>
      
      </div>

      <div class="row">
        <div class="col-md-12 order-md-1">
          <h4 class="mb-3">Enter the data</h4>
          <form class="needs-validation" novalidate method="POST">
          	{% csrf_token %}
            <div class="row">
              <div class="col-md-12 mb-3">
                <label for="firstName">Name</label>
                <input type="text" class="form-control" id="firstName" placeholder="" value="" required name="name">
                <div class="invalid-feedback">
                  Valid name is required.
                </div>
              </div>
            </div>

        
            <div class="mb-3">
              <label for="amount">Amount</label>
              <input type="text" class="form-control" id="amount" name="amount" required>
              <div class="invalid-feedback">
                Please enter a valid amount.
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Generate Coupon</button>
            {% if path %}
            
            <hr>
            <p>Coupon has been generated, click here to download</p>
            <hr>
            <a class="btn btn-success btn-lg btn-block" href="{{ path }}" role="button" download="{{ name }}">Download</a>
            {% endif %}
          </form>
        </div>
      </div>

    </div>

    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>
